{% extends "coderedcms/pages/web_page.html" %}
{% load wagtailcore_tags wagtailimages_tags coderedcms_tags %}
{% block frontend_assets %}

<meta property="og:title" content="{{page.title}}" />
<meta property="og:description" content="{{page.subtitle}}" />
<meta property="og:site_name" content="Brad Rice Artwork" />
<meta property="og:url" content="{{weburl}}" />
<meta property="og:type" content="website" />
<meta property="og:image" content={{image_url}} />
<meta name="twitter:card" content="Brad Rice artwork" />
<meta name="twitter:title" content="{{ page.title }}" />
<meta name="twitter:image" content={{image_url}}  />
<meta name="twitter:description" content="{{page.subtitle}}"/>
<meta name="twitter:site" content="@" />
{% endblock %}
{% block content %}
<div class="container crx-grid">
  <div class="post-head">
<h1>{{ page.title }}</h1>
<h2>{{ page.subtitle }}</h2>
  <p>By Irpin
  <span class="published-date">{{ page.first_published_at | date:"F d, Y" }}</span>
      </p>
  </div>
<div class="figure">
  {% srcset_image page.image width-{360,780,1000} sizes="(max-width: 480px) 800px, 80vw" %}
</div>
<div class="row">
    <div class="col">
      {% for block in page.body %}
      {% if block.block_type == 'text' %}
      {{ block.value }}
      {% elif block.block_type == 'image' %}
<div class="figure">
  {% srcset_image block.value width-{360,780,1000} sizes="(max-width: 480px) 800px, 80vw" %}
</div>
      {% endif %}
      {% endfor %}
    </div>
    <div class="row">
      <div class="col">
<div class="post-cta">
<a href="/irpins-big-blog">Return to my blog home</a>
          <p style="margin-top: .5em;">
<a href="/irpins-big-adventure/" class="btn btn-primary">Get the book</a>
          </p>
    </div>

      </div>
    </div>

</div>
{% endblock content %}
