{% extends "coderedcms/pages/web_page.html" %}
{% load wagtailcore_tags wagtailimages_tags coderedcms_tags %}/website/templates/coderedcms/pages/base.html" %}


{% block content %}
<div class="container crx-grid">
<h2>Art work</h2>
<p>{{ page.subtitle }}</p>
{% for figure in figure_entries %}
<div class="row">
<div class="figureblock col-sm-12 col-md-6">
  <h2>{{ figure.title }}</h2>
  <a href="{{ figure.url }}">Read More</a>
</div>
<div class="figureblock col-sm-12 col-md-6">
  {% image figure.image width-300 %}
  </div>
  </div>
{% endfor %}
</div>
    </div>
</div>
{% endblock %}
