{% extends "coderedcms/pages/web_page.html" %}
{% load wagtailcore_tags wagtailimages_tags coderedcms_tags currency_filters %}
{% block frontend_assets %}

<meta property="og:title" content="{{page.title}}" />
<meta property="og:description" content="{{page.subtitle}}" />
<meta property="og:site_name" content="Brad Rice Artwork" />
<meta property="og:url" content="{{weburl}}" />
<meta property="og:type" content="website" />
<meta property="og:image" content={{image_url}} />
<meta name="twitter:card" content="Brad Rice artwork" />
<meta name="twitter:title" content="{{ page.title }}" />
<meta name="twitter:image" content={{image_url}}  />
<meta name="twitter:description" content="{{page.subtitle}}"/>
<meta name="twitter:site" content="@" />
{% endblock %}
{% block content %}
<div class="container container-flex">
<h1>{{ page.title }}</h1>
  <p>{{last_modified_date}}</p>
<div class="figure">
  {% srcset_image page.image width-{360,780,1000} sizes="(max-width: 480px) 800px, 80vw" %}
</div>
<p class="figure_body">{{ page.body |richtext}}</p>
<div>
    {% if gallery_images|length > 0 %}
    <h2>Additional views</h2>
     {% for img in gallery_images %}
<div class="figure">
  {% srcset_image img.image width-{360,780,1000} sizes="(max-width: 480px) 800px, 80vw" %}
</div>
    {% endfor %}
    {% endif %}
  {% if page.for_sale %}
    <p>Price: {{page.price | currency}}</p>
<form method="post" action="/payments/create-checkout-session/"
<input type="hidden" name="product_id" value="prod_I0Ct56Y4YvHQwT"/>
<input type="hidden" name="price" value="{{ page.price}}"/>
<input type="hidden" name="price_id" value="{{ page.stripe_price_id}}"/>
<input type="hidden" name="title" value="{{ page.title}}"/>
<input type="hidden" name="image" value="{{ page.image }}"/>
<input type="hidden" name="product_id" value="{{ page.pk }}"/>
<button type="submit" class="btn btn-primary">Purchase</button>
</form>
  {% else %}
  <p>This piece is not for sale.</p>
{% endif %}
</div>
</div>
{% endblock %}
