
{% extends "coderedcms/pages/web_page.html" %}
{% load wagtailcore_tags wagtailimages_tags coderedcms_tags %}/website/templates/coderedcms/pages/base.html" %}
{% load my_filters %}

{% block content %}
<div class="container crx-grid">
<h2>Art work</h2>
<p>{{ page.subtitle }}</p>
<div class="row">
    <div class="col-lg-12">
      <div class="container">
        {{ page.body|richtext }}
      </div>
    </div>
  </div>
  <div class="row">
        {% csrf_token %}
      <form method="get" action=".">
    <div class="col-lg-6">
        <label for="media_type" class="form-label">Filter by Media type:</label>
        <select name="media_type" id="media_type" class="mb-2 form-select" onchange="this.form.submit()">
          <option value="All" {% if saved_choice == "All" %} selected {% endif %}>All Media types</option>
          {% for media_type in media_array %}
          <option value="{{ media_type.name }}" {% if media_type.name == saved_choice %} selected {%endif%}>{{ media_type.name }}</option>
          {% endfor %}
          </select>
    </div>
    <div class="col-lg-6">
        <label for="series_choice" class="form-label">Filter by Series type: {{series_choice}}</label>
        <select name="series_choice" id="series_choice" class="mb-2 form-select" onchange="this.form.submit()">
          <option value="All" {% if series_choice == "All" %} selected {% endif %}>All Series types</option>
    {% for series in series_array %}
          <option value="{{ series }}" {% if series.text == request.GET.series_choice %} selected {%endif%}>{{ series}}</option>
  {% endfor %}
          </select>
      </form>
      </div>
  </div>
  <div class="row figures gy-3">
{% for figure in figures %}
    <div class="figure-card col-lg-4 col-md-6 col-sm-12">
      <div class="figureblock col-sm-12">
        <a href="{{ figure.url}}">{% image figure.image width-300 %}</a>
      <p class="figure-title"><a href="{{ figure.url}}">{{ figure.title }}</a></p>
    </div>
  </div>
{% endfor %}
</div>

{# Only show pagination if there is more than one page to click through #}
  {% if figures.paginator.num_pages > 1 %}
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="pagination">
            {% if figures.has_previous %}
              <li class="page-item">
                <a href="?page={{ figures.previous_page_number }}" class="page-link">
                  <span>&laquo;</span>
                </a>
              </li>
            {% endif %}

            {% for page_num in figures.paginator.page_range %}
              <li class="page-item {% if page_num == posts.number %} active{% endif %}">
                <a href="?page={{ page_num }}" class="page-link">
                  {{ page_num }}
                </a>
              </li>
            {% endfor %}

            {% if figures.has_next %}
              <li class="page-item">
                <a href="?page={{ figures.next_page_number }}" class="page-link">
                  <span>&raquo;</span>
                </a>
              </li>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
